@charset "UTF-8";

/* Em HTML é id  em CSS é = #  
   Em HTML é Class em CSS é = . */
body{
    background-color: #8AD19B;
    font-family: Arial, Helvetica, sans-serif; 
}
h1{
    color: #395740;
}
#principal{
    text-align: center;
    background-color: #547F5E;
    color: white;
}
h2{
    color: #2f4434;
}
.basico{
    color: rgb(178, 250, 69);
    font-weight: bolder;
}
.intermediario{
    color: yellow;
    font-weight: bolder;
}
.avançado{
    color: red;
    font-weight: bolder;
}
.destaque{
    background-color: rgba(139, 139, 62, 0.322);
}